{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" manifest="cache.manifest">
    <head>
        <title>

            {%block title%}
            {%endblock%}
        </title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- JQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Bootstrap Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Calculate Moon Distance -->
        <script type="text/javascript" src="{%static 'js/suncalc.js' %}" charset="UTF-8"></script>

        <!-- Fortawesome Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="/">Off to Moon</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <!--<li class="active"><a href="#">Home</a></li> -->
                            <li><a href="/">Home</a></li>
                            <li><a href="/whereAreYouMoon">Where Are You Moon?</a></li>
                            <li><a href="/moonStory">Moon Story</a></li> 
                            <li><a href="/tripToApollo">Trip to Apollo</a></li> 

                            <li><a href="/moonQuiz">Do You Know Moon?</a></li> 

                            <!--<li><a href="/markMyTerritory">Mark My Territory</a></li> -->

                            <li><a href="/spaceStation">Space Station</a></li> 
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        {%block content%}
        {%endblock%}
    </body>
</html>
