{% extends 'base.html' %}
{% load staticfiles %}

{%block title%}
    Storyteller | Off to Moon
{% endblock %}

{%block content%}
    <div class="container">
        <div class="row">
            {% for question in questions %}
            <!-- Loop -->
            <div class="col-xs-12">
                <strong>Q{{forloop.counter}}</strong> {{ question.question }}
            </div>

            <div class="col-xs-12">
                <input type="radio" name="{{forloop.counter}}" value="{{ question.option1 }}">{{ question.option1 }}
            </div>

            <div class="col-xs-12">
                <input type="radio" name="{{forloop.counter}}" value="{{ question.option2 }}">{{ question.option2 }}
            </div>

            <div class="col-xs-12">
                <input type="radio" name="{{forloop.counter}}" value="{{ question.option3 }}">{{ question.option3 }}
            </div>

            <div class="col-xs-12">
                <input type="radio" name="{{forloop.counter}}" value="{{ question.option4 }}">{{ question.option4 }}
            </div>

            <!-- Loop ends -->
            {% endfor %}


        </div>
    </div>
    
{%endblock%}
